<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title ?: site.title }}</title>
        
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" />
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css" />
    </head>
    <body>
        <div id="top-bar">
            <header id="page-header">
                <div class="container">
                    <h1>{{ site.title }}</h1>
                </div>
            </header>

            <nav id="page-navigation">
                <ul class="container">
                    <li><a href="{{ site.url }}">Home</a></li>
                    <li><a href="{{ site.url }}/getting-started">Getting Started</a></li>
                    <li><a href="{{ site.url }}/statistics">Statistics</a></li>
                    <li><a href="{{ site.url }}/advanced-usage">Advanced Usage</a></li>
                    <li><a href="{{ site.url }}/non-linear">Non-linear Regression</a></li>
                    <li><a href="{{ site.url }}/extending">Extending the Library</a></li>
                </ul>
            </nav>
        </div>
        
        <article class="container">
            {% block content %}{% endblock %}
        </article>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
        <script>hljs.configure({languages: ['php']});hljs.initHighlightingOnLoad();</script>
    </body>
</html>
