<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title ?: 'Regression' }}</title>
    </head>
    <body>
        <header>
            <h1>PHP Regression</h1>
        </header>
        
        <nav>
            <ul>
                <li><a href="{{ site.url }}">Home</a></li>
                <li><a href="{{ site.url }}/getting-started">Getting Started</a></li>
                <li><a href="{{ site.url }}/statistics">Statistics</a></li>
                <li><a href="{{ site.url }}/advanced-usage">Advanced Usage</a></li>
                <li><a href="{{ site.url }}/non-linear">Non-linear Regression</a></li>
                <li><a href="{{ site.url }}/extending">Extending the Library</a></li>
            </ul>
        </nav>
        
        <article>
            {% block content %}{% endblock %}
        </article>
    </body>
</html>
