/* Palette: http://www.materialpalette.com/green/blue-grey */

@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    color: #212121;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
}

h1, h2 {
    color: #727272;
    font-family: Lato, Arial, sans-serif;
}

a {
    color: #607d8b;
    text-decoration: none;
}

a:visited {
    color: #607d8b;
}

#top-bar {
}

#page-header {
    background: #4caf50;
}

#page-header h1 {
    color: #fff;
    font-family: Lato, Arial, sans-serif;
}

#page-navigation {
    background: #388e3c;
}

#page-navigation ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

#page-navigation li {
    display: inline-block;
}

#page-navigation li + li {
    margin-left: 1em;
}

#page-navigation a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

#page-navigation a:visited {
    color: #fff;
}

#page-navigation a:hover {
    color: #c8e6c9;
}

#page-content {
}